In [1]:
from __future__ import print_function

import os
import subprocess

import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [2]:
df = pd.read_csv('IMDB.csv')

In [3]:
print("* df.head()", df.head(), sep="\n", end="\n\n")
print("* df.tail()", df.tail(), sep="\n", end="\n\n")

* df.head()
                                         Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...

               Series_Title Released_Year Certificate  Runtime  \
0  The Shawshank Redemption          1994           A  142 min
1             The Godfather          1972           A  175 min
2           The Dark Knight          2008          UA  152 min
3    The Godfather: Part II          1974           A  202 min
4              12 Angry Men          1957           U   96 min

                  Genre  IMDB_Rating  \
0                 Drama          9.3
1          Crime, Drama          9.2
2  Action, Crime, Drama          9.0
3          Crime, Drama          9.0
4          Crime, Drama          9.0

                                            Overview  Meta_score  \
0  Two imprisoned men bond over a number of years...        80.0
1  An organized crime dynasty's aging patriarch t...       100.0
2  When the menace known as the Joker wreaks havo...        84.0
3  The early life and career of Vito Corleone in ...        90.0
4  A jury holdout attempts to prevent a miscarria...        96.0

               Director           Star1           Star2          Star3  \
0        Frank Darabont     Tim Robbins  Morgan Freeman     Bob Gunton
1  Francis Ford Coppola   Marlon Brando       Al Pacino     James Caan
2     Christopher Nolan  Christian Bale    Heath Ledger  Aaron Eckhart
3  Francis Ford Coppola       Al Pacino  Robert De Niro  Robert Duvall
4          Sidney Lumet     Henry Fonda     Lee J. Cobb  Martin Balsam

            Star4  No_of_Votes         Gross
0  William Sadler      2343110   2,83,41,469
1    Diane Keaton      1620367  13,49,66,411
2   Michael Caine      2303232  53,48,58,444
3    Diane Keaton      1129952   5,73,00,000
4    John Fiedler       689845     43,60,000

* df.tail()
                                           Poster_Link  \
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

               Series_Title Released_Year Certificate  Runtime  \
995  Breakfast at Tiffany's          1961           A  115 min
996                   Giant          1956           G  201 min
997   From Here to Eternity          1953      Passed  118 min
998                Lifeboat          1944         NaN   97 min
999            The 39 Steps          1935         NaN   86 min

                        Genre  IMDB_Rating  \
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

                                              Overview  Meta_score  \
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

             Director              Star1              Star2           Star3  \
995     Blake Edwards     Audrey Hepburn     George Peppard   Patricia Neal
996    George Stevens   Elizabeth Taylor        Rock Hudson      James Dean
997    Fred Zinnemann     Burt Lancaster   Montgomery Clift    Deborah Kerr
998  Alfred Hitchcock  Tallulah Bankhead        John Hodiak   Walter Slezak
999  Alfred Hitchcock       Robert Donat  Madeleine Carroll  Lucie Mannheim

              Star4  No_of_Votes        Gross
995     Buddy Ebsen       166544          NaN
996   Carroll Baker        34075          NaN
997      Donna Reed        43374  3,05,00,000
998  William Bendix        26471          NaN
999  Godfrey Tearle        51853          NaN

In [4]:
df.drop(["Overview"], axis = 1, inplace = True)

In [5]:

df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000"

In [6]:
print("* data points:", df["Certificate"].unique(), sep="\n")

* data points:
['A' 'UA' 'U' 'PG-13' 'B' nan 'PG' 'G' 'Passed' 'TV-14' '16' 'TV-MA'
 'UnBated' 'GP' 'AppBoved' 'TV-PG' 'U/A']

In [7]:
def encode_target(df, target_column):
    df_mod = df.copy()
    targets = df_mod[target_column].unique()
    map_to_int = {name: n for n, name in enumerate(targets)}
    df_mod["genre.encode"] = df_mod[target_column].replace(map_to_int)

    return (df_mod, targets)

In [8]:
df2, targets = encode_target(df, "Certificate")
df2, targets = encode_target(df, "Series_Title")
df2, targets = encode_target(df, "Runtime")
df2, targets = encode_target(df, "Genre")

In [9]:
print("* df2.head()", df2[["Series_Title", "Certificate"]].head(),
      sep="\n", end="\n\n")
print("* df2.tail()", df2[["Series_Title", "Certificate"]].tail(),
      sep="\n", end="\n\n")
print("* targets", targets, sep="\n", end="\n\n")

* df2.head()
               Series_Title Certificate
0  The Shawshank Redemption           A
1             The Godfather           A
2           The Dark Knight          UA
3    The Godfather: Part II           A
4              12 Angry Men           U

* df2.tail()
               Series_Title Certificate
995  Breakfast at Tiffany's           A
996                   Giant           G
997   From Here to Eternity      Passed
998                Lifeboat         NaN
999            The 39 Steps         NaN

* targets
['Drama' 'Crime, Drama' 'Action, Crime, Drama' 'Action, Adventure, Drama'
 'Biography, Drama, History' 'Action, Adventure, Sci-Fi' 'Drama, Romance'
 'Western' 'Action, Sci-Fi' 'Biography, Crime, Drama'
 'Action, Adventure, Fantasy' 'Comedy, Drama, Thriller'
 'Adventure, Drama, Sci-Fi' 'Animation, Adventure, Family' 'Drama, War'
 'Crime, Drama, Fantasy' 'Comedy, Drama, Romance' 'Crime, Drama, Mystery'
 'Crime, Drama, Thriller' 'Action, Drama, Mystery'
 'Drama, Family, Fantasy' 'Drama, Music' 'Biography, Comedy, Drama'
 'Drama, Mystery, Sci-Fi' 'Biography, Drama, Music'
 'Crime, Mystery, Thriller' 'Animation, Adventure, Drama'
 'Animation, Drama, War' 'Adventure, Comedy, Sci-Fi'
 'Horror, Mystery, Thriller' 'Drama, Romance, War' 'Comedy, Drama, Family'
 'Animation, Drama, Fantasy' 'Action, Biography, Drama'
 'Animation, Action, Adventure' 'Drama, Western' 'Action, Adventure'
 'Comedy, Drama' 'Drama, Family' 'Drama, Mystery, Thriller'
 'Mystery, Thriller' 'Drama, Horror' 'Drama, Mystery, War'
 'Horror, Sci-Fi' 'Drama, Musical' 'Comedy' 'Drama, Film-Noir'
 'Comedy, Drama, War' 'Drama, Thriller, War' 'Drama, Fantasy, Horror'
 'Crime, Drama, Music' 'Adventure, Drama, War' 'Drama, Romance, Sci-Fi'
 'Comedy, Romance' 'Comedy, Crime' 'Drama, Family, Sport'
 'Animation, Adventure, Comedy' 'Adventure, Drama, Thriller'
 'Comedy, Crime, Drama' 'Crime, Drama, Sci-Fi' 'Adventure, Sci-Fi'
 'Adventure, Biography, Drama' 'Adventure, Mystery, Thriller'
 'Mystery, Romance, Thriller' 'Comedy, Musical, Romance'
 'Crime, Drama, Film-Noir' 'Drama, Mystery' 'Drama, Sci-Fi'
 'Action, Drama, War' 'Action, Drama' 'Adventure, Comedy, Drama'
 'Biography, Drama, Sport' 'Action, Comedy, Crime'
 'Action, Biography, Crime' 'Drama, Mystery, Romance'
 'Action, Drama, Sport' 'Drama, Fantasy, War' 'Action, Drama, Sci-Fi'
 'Biography, Drama' 'Action, Comedy, Romance' 'Animation, Family, Fantasy'
 'Action, Thriller' 'Action, Adventure, Comedy'
 'Adventure, Comedy, Fantasy' 'Adventure, Drama, History'
 'Action, Drama, Thriller' 'Comedy, Music, Romance'
 'Drama, Fantasy, History' 'Crime, Thriller' 'Adventure, Drama, Western'
 'Comedy, War' 'Drama, Thriller' 'Animation, Drama, Family'
 'Drama, Romance, Thriller' 'Comedy, Drama, Musical'
 'Comedy, Drama, Fantasy' 'Adventure, Comedy, Crime'
 'Adventure, Drama, Fantasy' 'Biography, Drama, Family'
 'Animation, Comedy, Drama' 'Drama, Sport' 'Animation, Action, Drama'
 'Adventure, Drama, Musical' 'Drama, Music, Romance'
 'Comedy, Crime, Romance' 'Comedy, Crime, Sport' 'Drama, History, Romance'
 'Adventure, Drama' 'Animation, Adventure, Fantasy'
 'Horror, Mystery, Sci-Fi' 'Drama, Fantasy, Music'
 'Action, Sci-Fi, Thriller' 'Drama, Fantasy' 'Drama, Horror, Thriller'
 'Drama, History' 'Film-Noir, Mystery, Thriller'
 'Fantasy, Horror, Mystery' 'Action, Crime, Thriller'
 'Comedy, Drama, Music' 'Biography, Drama, Thriller'
 'Animation, Biography, Drama' 'Action, Mystery, Thriller'
 'Crime, Drama, Romance' 'Action, Adventure, Thriller'
 'Crime, Drama, Musical' 'Animation, Crime, Mystery'
 'Action, Crime, Comedy' 'Mystery, Sci-Fi, Thriller'
 'Animation, Action, Crime' 'Comedy, Fantasy, Romance'
 'Drama, History, Thriller' 'Animation, Action, Sci-Fi'
 'Adventure, Family, Fantasy' 'Drama, Fantasy, Romance'
 'Drama, History, War' 'Adventure, Thriller' 'Horror'
 'Drama, Family, Musical' 'Action, Drama, Western' 'Crime, Drama, Horror'
 'Drama, Film-Noir, Mystery' 'Comedy, Crime, Thriller'
 'Film-Noir, Mystery' 'Comedy, Crime, Mystery' 'Drama, Fantasy, Mystery'
 'Comedy, Horror' 'Action, Adventure, History' 'Drama, Music, Mystery'
 'Comedy, Music' 'Comedy, Family' 'Drama, Music, Musical'
 'Action, Adventure, Horror' 'Action, Adventure, Biography'
 'Biography, Drama, War' 'Action, Adventure, Western' 'Horror, Thriller'
 'Comedy, Mystery, Romance' 'Drama, Thriller, Western'
 'Crime, Film-Noir, Thriller' 'Drama, Film-Noir, Romance'
 'Crime, Film-Noir, Mystery' 'Action, Adventure, Romance'
 'Comedy, Music, Musical' 'Adventure, Horror, Sci-Fi' 'Fantasy, Horror'
 'Action, Drama, History' 'Adventure, Comedy, Family'
 'Animation, Biography, Crime' 'Adventure, Biography, Crime'
 'Adventure, Fantasy' 'Drama, History, Mystery' 'Action, Comedy, Mystery'
 'Adventure, Drama, Romance' 'Drama, Sci-Fi, Thriller'
 'Crime, Drama, History' 'Action, Comedy, Fantasy' 'Family, Sci-Fi'
 'Adventure, History, War' 'Animation, Sci-Fi' 'Family, Fantasy, Musical'
 'Thriller' 'Comedy, Family, Fantasy' 'Adventure, Comedy, Film-Noir'
 'Film-Noir, Thriller' 'Comedy, Family, Romance' 'Drama, Horror, Sci-Fi'
 'Comedy, Musical, War' 'Biography, Drama, Romance'
 'Drama, History, Music' 'Animation, Action, Fantasy'
 'Animation, Comedy, Fantasy' 'Comedy, Western' 'Action, Adventure, War'
 'Drama, Horror, Mystery' 'Animation, Comedy, Crime'
 'Action, Adventure, Crime' 'Action, Adventure, Mystery'
 'Action, Adventure, Family' 'Action, Crime, Mystery'
 'Animation, Drama, Romance' 'Drama, War, Western'
 'Adventure, Comedy, War']

In [10]:
df2

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,genre.encode
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469",0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411",1
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444",2
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000",1
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,16
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,35
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"3,05,00,000",30
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,14
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,25

In [11]:
df2, targets = encode_target(df2, "Runtime")
df2, targets = encode_target(df2, "Gross")

In [12]:
df2

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,genre.encode
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469",0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411",1
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444",2
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000",3
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,18
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,18
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"3,05,00,000",823
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,18
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,18

In [13]:
print("* df2.head()", df2[["Series_Title", "IMDB_Rating"]].head(),
      sep="\n", end="\n\n")
print("* df2.tail()", df2[["Series_Title", "IMDB_Rating"]].tail(),
      sep="\n", end="\n\n")
print("* targets", targets, sep="\n", end="\n\n")

* df2.head()
               Series_Title  IMDB_Rating
0  The Shawshank Redemption          9.3
1             The Godfather          9.2
2           The Dark Knight          9.0
3    The Godfather: Part II          9.0
4              12 Angry Men          9.0

* df2.tail()
               Series_Title  IMDB_Rating
995  Breakfast at Tiffany's          7.6
996                   Giant          7.6
997   From Here to Eternity          7.6
998                Lifeboat          7.6
999            The 39 Steps          7.6

* targets
['2,83,41,469' '13,49,66,411' '53,48,58,444' '5,73,00,000' '43,60,000'
 '37,78,45,905' '10,79,28,762' '9,68,98,818' '29,25,76,195' '3,70,30,102'
 '31,55,44,750' '33,02,52,182' '61,00,000' '34,25,51,365' '17,14,79,930'
 '4,68,36,394' '29,04,75,067' '11,20,00,000' nan '5,33,67,844'
 '18,80,20,017' '75,63,397' '1,00,55,859' '21,65,40,909' '13,68,01,374'
 '5,75,98,247' '10,01,25,643' '13,07,42,922' '32,27,40,140' '2,69,061'
 '33,54,51,311' '1,30,92,000' '1,31,82,281' '5,30,89,891' '13,23,84,315'
 '3,25,72,577' '18,77,05,427' '67,19,864' '2,33,41,568' '1,95,01,238'
 '42,27,83,777' '20,48,43,350' '1,19,90,401' '21,06,09,762' '53,21,508'
 '3,20,00,000' '10,24,560' '1,63,245' '19,181' '16,61,096' '50,17,246'
 '1,23,91,761' '19,02,41,310' '85,83,73,000' '67,88,15,482' '20,97,26,015'
 '16,28,05,434' '44,81,39,099' '65,32,908' '12,23,869' '22,38,08,164'
 '1,12,86,112' '7,07,481' '2,55,44,867' '23,75,308' '24,81,59,971'
 '4,40,17,374' '8,34,71,511' '7,89,00,000' '2,75,902' '81,75,000'
 '3,67,64,313' '2,88,475' '15,92,27,644' '13,73,943' '6,87,185'
 '70,98,492' '68,57,096' '12,05,40,719' '3,44,00,301' '3,32,25,499'
 '3,03,28,156' '36,35,482' '13,00,96,601' '13,84,33,435' '9,33,933'
 '19,17,96,233' '7,56,00,000' '28,32,029' '4,63,57,676' '8,51,60,248'
 '5,19,73,029' '4,55,98,982' '30,91,25,409' '1,14,87,676' '2,82,62,574'
 '15,96,00,000' '62,07,725' '5,69,54,992' '1,50,00,000' '4,48,24,144'
 '1,86,00,000' '1,32,75,000' '32,00,000' '88,19,028' '55,240' '3,32,930'
 '57,20,000' '15,85,634' '28,877' '12,36,166' '54,50,000' '8,98,575'
 '41,86,168' '8,50,80,171' '5,45,13,740' '3,42,370' '2,01,86,659'
 '7,39,478' '14,29,534' '1,44,501' '16,26,289' '7,461' '39,567'
 '63,91,436' '1,36,57,115' '12,80,12,934' '29,30,04,164' '11,69,00,694'
 '11,13,541' '4,02,22,514' '3,76,34,615' '41,50,04,880' '7,05,11,035'
 '21,97,331' '7,33,094' '20,68,52,432' '12,23,240' '55,09,040' '47,11,096'
 '17,07,42,341' '38,97,569' '6,46,16,940' '6,74,36,818' '4,24,38,300'
 '10,11,57,447' '19,71,71,806' '2,80,015' '11,05,564' '8,30,08,852'
 '41,35,750' '2,33,83,987' '2,34,723' '12,29,197' '1,21,00,000'
 '2,50,00,000' '57,226' '12,562' '96,568' '10,177' '50,14,000' '9,77,375'
 '37,59,854' '12,41,223' '20,06,788' '34,92,754' '9,01,610' '22,62,77,068'
 '1,46,77,674' '31,07,072' '1,65,520' '1,06,16,104' '9,23,221'
 '5,91,00,318' '16,77,67,189' '6,72,09,615' '35,64,61,711' '28,04,874'
 '5,66,71,993' '2,69,47,624' '11,76,24,028' '4,50,55,776' '8,57,524'
 '10,35,953' '31,08,485' '6,10,02,302' '15,40,58,340' '14,80,95,302'
 '38,10,11,219' '14,98,210' '21,75,81,231' '1,83,54,356' '7,42,83,625'
 '22,17,561' '10,04,92,203' '2,35,30,892' '11,11,061' '58,20,649' '14,131'
 '3,00,000' '7,00,99,045' '38,08,43,261' '16,46,15,351' '53,83,834'
 '28,99,16,256' '70,147' '29,35,06,292' '2,59,127' '12,56,18,201'
 '3,48,660' '1,74,98,804' '27,34,044' '1,65,01,785' '2,46,11,975'
 '1,71,082' '3,09,811' '55,35,405' '40,43,686' '6,00,200' '40,24,53,882'
 '2,50,10,410' '52,16,888' '26,03,061' '9,58,60,116' '5,22,87,414'
 '13,85,30,565' '21,81,987' '4,95,770' '1,37,82,838' '2,22,44,207'
 '49,71,340' '3,28,68,943' '2,00,45,115' '4,89,79,328' '11,72,35,247'
 '1,77,345' '2,90,00,000' '3,09,33,743' '17,42,348' '39,481' '1,62,17,773'
 '1,02,021' '55,908' '40,50,000' '15,26,000' '7,47,00,000' '7,52,045'
 '4,49,08,000' '96,00,000' '39,69,893' '4,49,191' '1,09,00,000' '2,03,300'
 '19,86,76,459' '1,72,885' '21,877' '5,39,540' '10,33,895' '81,78,001'
 '15,11,01,803' '5,17,39,495' '22,84,33,663' '34,12,68,248' '67,38,000'
 '15,06,975' '13,24,22,809' '55,66,534' '10,79,369' '10,10,414'
 '26,25,803' '9,11,25,683' '33,31,76,600' '9,20,54,159' '2,55,68,251'
 '21,64,28,042' '18,36,37,894' '1,77,38,570' '1,00,119' '13,87,97,449'
 '16,97,08,112' '36,30,70,709' '1,06,662' '10,950' '40,18,695'
 '14,13,19,928' '10,69,54,678' '8,060' '62,32,79,547' '44,45,756'
 '2,72,98,285' '16,35,66,459' '5,73,66,262' '22,74,71,070' '2,38,507'
 '7,41,03,820' '59,90,075' '20,64,45,654' '16,74,45,960' '6,62,08,183'
 '5,02,028' '23,80,788' '20,86,345' '6,16,49,911' '17,87,378' '1,69,659'
 '30,54,13,918' '6,62,57,002' '26,14,41,092' '15,30,386' '14,80,006'
 '2,24,55,976' '41,84,036' '62,03,044' '7,76,665' '16,47,780' '55,95,428'
 '2,31,59,305' '3,296' '2,44,75,416' '1,34,17,292' '5,71,41,459'
 '5,15,905' '7,50,82,668' '7,09,06,973' '44,96,583' '6,38,95,607'
 '21,73,50,219' '7,04,05,498' '21,89,67,620' '18,42,08,848' '2,75,45,445'
 '17,88,00,000' '5,53,171' '3,08,57,814' '33,33,969' '45,42,825'
 '3,84,00,000' '5,27,67,889' '3,01,77,511' '3,92,00,000' '26,00,00,000'
 '5,00,00,000' '8,63,00,000' '5,32,67,000' '23,29,06,145' '40,81,254'
 '2,91,33,000' '8,05,00,000' '5,41,940' '10,23,08,889' '3,33,95,426'
 '10,49,45,305' '16,32,14,286' '11,17,22,000' '1,45,00,000' '50,690'
 '82,84,000' '1,95,16,000' '1,25,35,000' '1,19,00,000' '22,37,659'
 '1,75,70,324' '6,54,000' '80,00,000' '2,36,50,000' '21,08,060' '55,000'
 '20,76,020' '32,70,000' '50,970' '16,53,59,751' '33,13,513' '20,00,000'
 '1,80,95,701' '2,58,168' '3,20,15,231' '52,02,582' '58,75,006'
 '32,37,118' '31,50,58,289' '3,23,81,218' '3,49,555' '10,05,46,139'
 '93,66,62,225' '81,14,627' '23,39,21,534' '1,38,730' '4,46,71,682'
 '10,02,06,256' '67,39,492' '70,00,000' '20,84,637' '50,09,677'
 '21,22,065' '11,56,46,235' '2,62,36,603' '4,10,800' '2,53,79,975'
 '11,85,783' '25,77,30,019' '77,57,130' '1,37,56,082' '22,80,348'
 '12,49,87,023' '2,10,02,919' '36,35,164' '31,84,12,101' '1,35,42,874'
 '9,01,35,191' '24,93,58,727' '5,37,10,019' '92,84,265' '10,59,830'
 '10,00,045' '12,16,61,683' '12,21,261' '3,55,52,383' '3,25,34,850'
 '72,20,243' '24,58,52,179' '2,64,00,640' '22,01,126' '1,22,81,500'
 '13,24,974' '3,69,48,322' '5,63,62,352' '1,47,43,391' '1,82,54,702'
 '7,62,70,454' '4,00,84,041' '99,29,135' '1,88,751' '2,06,05,209'
 '5,72,29,890' '4,57,00,000' '3,78,23,676' '51,00,000' '7,06,00,000'
 '61,001' '1,98,809' '6,17,00,000' '1,20,64,472' '89,029' '2,22,76,975'
 '2,43,79,978' '1,34,74,588' '3,00,00,000' '88,300' '9,37,40,000'
 '94,50,000' '76,30,000' '26,50,000' '1,04,64,000' '65,40,000' '94,60,000'
 '2,96,000' '39,81,000' '25,37,520' '1,00,00,000' '24,02,067'
 '18,83,73,161' '16,96,07,287' '4,04,42,052' '4,80,23,088' '17,82,795'
 '4,76,95,120' '4,35,266' '53,21,77,324' '40,80,84,349' '5,41,17,416'
 '10,81,01,214' '67,35,118' '13,30,596' '28,52,400' '42,31,500' '1,69,209'
 '22,25,27,828' '1,53,22,921' '16,70,773' '52,09,580' '43,40,38,008'
 '85,433' '4,55,12,466' '17,70,02,924' '7,02,59,870' '1,28,392'
 '10,25,15,793' '10,71,00,855' '6,460' '16,11,97,785' '5,47,292'
 '25,83,66,855' '22,22,647' '1,00,95,170' '9,36,17,009' '14,50,00,989'
 '90,30,581' '94,39,923' '30,30,03,568' '7,41,283' '5,09,27,067'
 '3,50,61,555' '13,01,64,645' '76,05,07,625' '3,600' '5,08,66,635'
 '5,98,91,098' '2,36,37,265' '12,75,09,326' '29,21,738' '1,305'
 '3,84,05,088' '51,28,124' '1,28,985' '2,55,14,517' '11,95,19,402'
 '15,280' '8,10,01,787' '1,67,56,372' '1,81,655' '70,02,255' '5,42,34,062'
 '28,92,011' '11,56,54,751' '12,80,78,872' '82,64,530' '23,36,32,142'
 '25,812' '2,89,65,197' '3,24,81,825' '26,76,65,011' '65,93,25,379'
 '2,33,986' '1,23,39,633' '4,83,23,648' '40,40,691' '58,87,457'
 '91,70,214' '5,65,05,065' '3,24,16,586' '2,29,54,968' '17,69,305'
 '18,38,75,760' '1,72,66,971' '56,17,391' '20,15,810' '19,99,955'
 '5,75,04,069' '6,12,76,872' '5,20,96,475' '2,68,30,000' '11,85,00,000'
 '3,46,03,943' '5,97,35,548' '59,23,044' '7,01,36,369' '14,36,000'
 '6,15,03,218' '9,84,67,863' '4,58,75,171' '3,47,00,291' '23,86,32,124'
 '2,15,00,000' '25,00,000' '43,51,10,554' '10,62,60,000' '3,18,00,000'
 '44,20,000' '1,93,817' '1,60,56,255' '4,27,65,000' '40,00,000'
 '4,47,85,053' '1,75,50,741' '5,67,00,000' '7,20,00,000' '10,22,72,727'
 '3,91,00,000' '26,16,000' '3,36,705' '3,35,609' '32,45,91,735'
 '3,38,00,859' '17,60,40,665' '22,01,59,104' '33,58,518' '33,33,000'
 '7,65,127' '3,58,93,537' '12,82,61,724' '12,48,72,350' '67,43,776'
 '4,23,40,598' '21,99,675' '11,22,527' '1,75,058' '25,97,66,572'
 '9,85,912' '1,76,54,912' '18,94,22,889' '13,39,152' '71,177'
 '5,68,16,662' '25,77,60,692' '27,40,92,705' '22,87,78,661' '83,861'
 '9,69,62,694' '14,64,08,305' '27,73,22,503' '30,43,60,277' '13,20,92,958'
 '13,60,25,503' '3,23,91,374' '29,59,83,305' '1,50,90,400' '1,85,93,156'
 '8,81,302' '3,57,39,802' '17,52,214' '3,27,919' '2,54,42,958' '4,12,544'
 '1,76,05,861' '3,30,80,084' '2,24,94,487' '10,54,361' '8,71,577'
 '20,08,21,936' '43,98,392' '8,30,43,761' '5,36,06,916' '5,45,80,300'
 '1,71,08,591' '17,62,41,941' '10,82,715' '7,53,31,600' '4,45,85,453'
 '29,00,13,036' '7,79,11,774' '7,52,86,229' '11,11,10,575' '48,90,878'
 '40,64,200' '1,55,39,266' '4,03,11,852' '2,22,45,861' '10,86,38,745'
 '10,44,54,762' '1,41,072' '2,19,95,263' '30,29,081' '18,34,17,150'
 '1,51,086' '4,55,12,588' '5,20,37,603' '1,08,24,921' '28,07,390'
 '7,66,31,907' '1,71,05,219' '3,68,234' '2,28,58,926' '14,84,78,011'
 '6,35,40,020' '40,65,116' '4,19,09,762' '3,58,11,509' '5,61,16,183'
 '44,14,535' '1,00,19,307' '2,18,48,932' '31,51,130' '61,10,979'
 '7,73,24,422' '2,72,81,507' '4,81,69,908' '7,55,05,856' '1,07,25,228'
 '14,13,40,178' '8,24,18,501' '61,53,939' '50,80,409' '15,64,52,370'
 '15,44,889' '4,39,84,230' '2,22,38,696' '71,53,487' '85,51,228'
 '1,06,31,333' '1,06,00,000' '1,17,98,616' '5,40,00,000' '7,89,12,963'
 '4,72,12,904' '5,48,00,000' '8,34,00,000' '4,70,00,000' '19,24,733'
 '11,95,00,000' '2,98,00,000' '70,56,013' '1,56,30,710' '3,59,00,000'
 '4,45,27,234' '4,53,00,000' '26,331' '2,83,50,000' '5,10,81,062'
 '1,14,03,529' '83,957' '49,05,000' '52,709' '1,05,50,000' '5,36,118'
 '7,64,08,097' '2,60,20,957' '14,25,02,728' '5,66,356' '59,04,366'
 '2,48,01,212' '1,31,22,642' '8,45,464' '38,98,13,101' '10,78,25,862'
 '1,83,40,051' '7,23,13,754' '60,85,81,744' '24,87,57,044' '4,68,89,293'
 '10,97,67,581' '10,92,800' '2,68,62,450' '3,77,07,719' '20,85,45,589'
 '41,05,123' '4,10,03,371' '1,92,02,743' '21,52,88,866' '17,12,43,005'
 '10,08,098' '25,15,13,985' '3,50,14,192' '4,80,71,303' '7,56,05,492'
 '31,85,812' '7,55,90,286' '20,90,28,679' '25,59,59,475' '94,22,422'
 '6,99,51,824' '1,71,14,882' '3,86,34,938' '6,86,383' '8,85,13,495'
 '2,03,00,218' '1,03,01,706' '2,46,33,730' '3,98,68,642' '6,013'
 '30,19,59,197' '21,06,14,939' '2,30,89,926' '10,75,09,799' '2,41,49,632'
 '5,60,00,369' '30,81,925' '6,97,181' '5,48,707' '61,67,817' '57,39,376'
 '1,62,90,476' '45,289' '5,16,80,613' '1,30,60,843' '5,79,38,693'
 '4,50,64,915' '5,23,64,010' '1,36,22,333' '31,75,75,550' '9,65,22,687'
 '5,29,90,775' '5,14,01,758' '13,20,72,926' '5,06,68,906' '1,50,70,285'
 '72,67,585' '3,64,00,491' '12,06,20,254' '1,06,80,275' '1,43,78,331'
 '4,91,00,000' '37,96,699' '4,31,82,776' '10,00,12,499' '10,37,847'
 '7,15,16,617' '17,38,37,933' '14,64,625' '4,09,03,593' '79,93,039'
 '5,29,29,168' '4,53,243' '17,94,187' '28,57,61,243' '6,66,66,062'
 '9,28,23,600' '11,15,43,479' '7,87,56,177' '4,95,30,280' '6,52,07,127'
 '21,50,000' '11,92,85,432' '1,24,65,371' '2,24,90,039' '7,66,57,000'
 '4,30,00,000' '3,50,00,000' '13,20,88,635' '9,59,000' '6,96,690'
 '13,78,435' '14,18,43,612' '1,37,80,024' '3,05,00,000']

In [14]:
df2

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,genre.encode
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469",0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411",1
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444",2
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000",3
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,18
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,18
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"3,05,00,000",823
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,18
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,18

In [15]:
df2.pop("Genre")

0                         Drama
1                  Crime, Drama
2          Action, Crime, Drama
3                  Crime, Drama
4                  Crime, Drama
                 ...
995      Comedy, Drama, Romance
996              Drama, Western
997         Drama, Romance, War
998                  Drama, War
999    Crime, Mystery, Thriller
Name: Genre, Length: 1000, dtype: object

In [16]:
df2

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,genre.encode
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469",0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411",1
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444",2
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000",3
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,18
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,7.6,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,18
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"3,05,00,000",823
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,18
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,18

In [17]:
df2.set_index('IMDB_Rating')

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,genre.encode
IMDB_Rating,,,,,,,,,,,,,,
9.3,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469",0
9.2,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411",1
9.0,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444",2
9.0,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000",3
9.0,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7.6,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,18
7.6,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,18
7.6,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"3,05,00,000",823
7.6,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,18
7.6,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,18

In [18]:
features = list(df2.columns[2:])

In [19]:
features

['Released_Year',
 'Certificate',
 'Runtime',
 'IMDB_Rating',
 'Meta_score',
 'Director',
 'Star1',
 'Star2',
 'Star3',
 'Star4',
 'No_of_Votes',
 'Gross',
 'genre.encode']

In [20]:
features

['Released_Year',
 'Certificate',
 'Runtime',
 'IMDB_Rating',
 'Meta_score',
 'Director',
 'Star1',
 'Star2',
 'Star3',
 'Star4',
 'No_of_Votes',
 'Gross',
 'genre.encode']

In [21]:
y = df2["Released_Year"]
X = df2[features]

In [22]:
X.head()

,Released_Year,Certificate,Runtime,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,genre.encode
0,1994,A,142 min,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469",0
1,1972,A,175 min,9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411",1
2,2008,UA,152 min,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444",2
3,1974,A,202 min,9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000",3
4,1957,U,96 min,9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000",4

In [23]:
from sklearn.model_selection import train_test_split
df2, targets = encode_target(df, "IMDB_Rating")

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=103)

In [25]:
dt = DecisionTreeClassifier(min_samples_split=20, random_state=99)
dt.fit(X_train, y_train)

ValueError: could not convert string to float: 'PG'

In [ ]:
def visualize_tree(tree, feature_names):
    with open("dt.dot", 'w') as f:
        export_graphviz(tree, out_file=f,
                        feature_names=feature_names)

    command = ["dot", "-Tpng", "dt.dot", "-o", "dt.png"]
    try:
        subprocess.check_call(command)
    except:
        exit("Could not run dot, ie graphviz, to "
             "produce visualization")

In [ ]:
visualize_tree(dt, features)

<img src = "./dt.png">

In [ ]:
predictions = dt.predict(X_test)

In [ ]:
predictions

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,predictions))

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
plt.scatter(y_test,predictions)

In [ ]:
sns.displot((y_test-predictions),bins=50);

In [ ]:
from sklearn import metrics

In [ ]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))